.fillpage {
	width: 100%;
}

iframe {
	border-radius: 5px;
}

.jumbotron {
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: box-shadow 0.25s ease-out;
}

.jumbotron:hover {
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}

.projects-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.project {
	text-align: center;
	background: #dee2e6;
	border-radius: 5px;
	padding: 3px;
	transition: box-shadow 0.25s ease-out;
	cursor: pointer;
	margin: 10px;
	min-width: 200px;
	flex: 1 0 31%;	/* flex-grow 0 flex-basis */
}

.project:hover {
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}

.image-container {
	width: 64px;
	height: 64px;
	margin: auto;
	line-height: 64px;
}

.image-container img {
	vertical-align: middle;
	max-width: 64px;
	max-height: 64px;
}